{% extends 'pages/modelo-sis.html' %}
{% load static %}


{% block titulo %} 
<title>Sobre</title>
{% endblock  %}




{% block conteudo %}
<div class="card">
    <div class="card-header">
        <h2>Sobre</h2>
    </div>
    <div class="card-body">
      <h5 class="card-title">Sistema de Cadastros</h5>
      <p class="card-text">Sistema para atender uma demanda de cadastros de Clientes,Funcionários,Estoque,Vendas e etc..</p>
      <p class="card-text">Segue o contato e as Redes Socias do Desenvolvedor</p>
      <div class="main-sobre">
        <a href="https://web.whatsapp.com/send?phone=5521988500152"  class="btn btn-dark ">
            WhatsApp
        </a>
        <a href="mailto:moraeswilli@hotmail.com?subject=Contato" class="btn btn-dark ">
            E-mail
        </a>
        <a href="https://www.facebook.com/williamdemoraesrodrigues" class="btn btn-dark ">
            FaceBook
        </a>
        <a href="https://www.instagram.com/woraeswill/?hl=pt-br" class="btn btn-dark ">
            Instagram
        </a>
        </div>
  
    </div>
</div>
<div class="card">
    <div class="card-header">
        <p>Mapa de ciberataques em tempo real no mundo cedido pela FORTINET. </p>
    </div>
<!-- Insira essa tag para renderizar esse widget -->
  <iframe   src="https://threatmap.fortiguard.com/" frameborder="-10"></iframe>
</div>


{% endblock conteudo %}


{% block rodape-links %}

{% endblock rodape-links %}



